{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    文章详情
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row">
            <h1 class="col-12 mt-4 mb-4">{{ article.title }}</h1>
            <div class="col-12 alert alert-success">作者:{{ article.author }}
               <a href="#" onclick="confirm_delete()">删除文章</a>
               <a href="{% url 'article:article_updata' article.id %}">编辑文章</a>
            </div>
            <div class="col-12">
                <p>{{ article.body|safe }}</p>
            </div>
        </div>
    </div>

    <script>
        function confirm_delete() {
            layer.open(
                {
                    title:'确认删除,',
                    content:'确认删除这篇文章吗?',
                    yes:function (index,layero) {
                        location.href='{% url 'article:article_delete' article.id%}'
                    },
                }
            )
        }
    </script>
{% endblock content %}